.hero {
  min-height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--dark-bg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero__btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
}
.advantage__icon-box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--light-bg);
}
.advantage__title {
  display: none;
}
.advantage__list {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.advantage__item {
  padding: 0 15px;
  flex: 1 1 270px;
}
.advantage__header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}
.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--sub-text-color);
}
.about {
  padding-top: 0;
}
.about__list {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
}
.about__item {
  padding: 0 15px;
}
.about__overlay {
  position: relative;
}
.about__img {
  flex: 0 0 370px;
}
.about__title {
  width: 370px;
  height: 23.809%;
  position: absolute;
  bottom: 2.86px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-text-color);
  background-color: var(--about-backdrop-color);
}
.team {
  background: var(--light-bg);
}
.border {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__list {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team__item {
  padding: 0 15px;
}
.team__img {
  flex: 0 0 270px;
}
.team__content {
  padding: 30px 0;
  text-align: center;
  line-height: 1.2;
}
.team__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.team__post {
  font-size: 16px;
  color: var(--sub-text-color);
}
.team__social-list {
  margin: 16px 32px 0 32px;
  display: flex;
  justify-content: center;
}
.team__social-link {
  fill: var(--icon-color);
}
.clients__list {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  min-height: 92px;
  min-width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
}
.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: currentColor;
}
.clients__icon:hover {
  fill: var(--accent-color);
}
